/* .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.tenor-gif-embed {
  width: 250px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
} */